openapi: 3.1.0
x-apievangelist-generated: '2026-07-17'
x-apievangelist-method: generated
x-apievangelist-source: https://dev.alterestate.com/ (AlterEstate Developers Center, per-operation .md docs)
x-apievangelist-note: >-
  AlterEstate publishes human documentation at dev.alterestate.com but no machine-readable
  OpenAPI. This description is generated faithfully from the documented operations, paths,
  methods, auth headers and status codes. Field-level schemas are approximate summaries of
  the documented response objects, not an authoritative provider contract.
info:
  title: AlterEstate API
  version: v1
  description: >-
    Public REST API for AlterEstate, the leading real-estate CRM SaaS for agents across Latin
    America. Exposes property listings, project developments (buildings and units), agents,
    geographic locations, and inbound lead submission. Read endpoints authenticate with a public
    API token (aetoken header); lead creation uses an account API key (Authorization: Token).
  contact:
    name: AlterEstate Engineering
    email: engineering@alterestate.com
    url: https://dev.alterestate.com/
  termsOfService: https://alterestate.com/terminos-condiciones
servers:
  - url: https://secure.alterestate.com/api/v1
    description: Production
tags:
  - name: Properties
    description: Property listings and detail views
  - name: Developments
    description: Real-estate projects, their buildings and units
  - name: Agents
    description: Company agents
  - name: Locations
    description: Cities, sectors and provinces
  - name: Leads
    description: Inbound lead submission into the CRM
components:
  securitySchemes:
    aetoken:
      type: apiKey
      in: header
      name: aetoken
      description: Public API token from the AlterEstate dashboard (Settings > Public API Token, admin access). Used for read endpoints.
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Account API key sent as: Authorization: Token <api_key>. Used for lead submission.'
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization used by the AlterEstate (Brik/alterai) hosted MCP server.
      flows:
        authorizationCode:
          authorizationUrl: https://secure.alterestate.com/oauth/authorize/
          tokenUrl: https://secure.alterestate.com/oauth/token/
          refreshUrl: https://secure.alterestate.com/oauth/token/
          scopes:
            mcp: Access the AlterEstate hosted MCP server (secure.alterestate.com/api/v1/alterai/mcp/).
  schemas:
    Property:
      type: object
      description: Summary of a property listing.
      properties:
        uid: { type: string }
        slug: { type: string }
        name: { type: string }
        listing_type: { type: string }
        category: { type: string }
        price: { type: number }
        currency: { type: string }
        rooms: { type: integer }
        bathrooms: { type: number }
        parking: { type: integer }
        area: { type: number }
        city_name: { type: string }
        sector: { type: string }
        province: { type: string }
    PropertyDetail:
      allOf:
        - $ref: '#/components/schemas/Property'
        - type: object
          properties:
            agent: { $ref: '#/components/schemas/Agent' }
            amenities:
              type: array
              items: { type: string }
            gallery:
              type: array
              items: { type: string, format: uri }
    Building:
      type: object
      properties:
        id: { type: integer }
        uid: { type: string }
        name: { type: string }
        order: { type: integer }
        visible: { type: boolean }
        company: { type: integer }
        project: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    Unit:
      type: object
      properties:
        model: { type: string }
        floor: { type: integer }
        area: { type: number }
        rooms: { type: integer }
        bathrooms: { type: number }
        parking: { type: integer }
        status: { type: string }
        sale_price: { type: number }
        building: { type: integer }
        floor_plan: { type: string, format: uri }
    Agent:
      type: object
      properties:
        id: { type: integer }
        full_name: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        active: { type: boolean }
    Province:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
    City:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        province: { $ref: '#/components/schemas/Province' }
    Sector:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        city_name: { type: string }
        province: { $ref: '#/components/schemas/Province' }
    Lead:
      type: object
      properties:
        full_name: { type: string }
        phone: { type: string, description: Normalized to E.164 }
        email: { type: string, format: email, description: Stored lowercased }
        property_uid: { type: string }
        notes: { type: string }
        via: { type: string }
        related: { type: string }
        round_robin: { type: boolean }
        listing_type: { type: string }
        currency: { type: string }
        budget: { type: number }
    LeadRequest:
      type: object
      required: [full_name, phone, email]
      properties:
        full_name: { type: string }
        phone: { type: string, description: Normalized to E.164 format }
        email: { type: string, format: email, description: Stored lowercased }
        property_uid: { type: string }
        notes: { type: string }
        via: { type: string }
        related: { type: string }
        round_robin: { type: boolean }
        listing_type: { type: string }
        currency: { type: string }
        budget: { type: number }
        utm_source: { type: string }
        utm_campaign: { type: string }
        adset_name: { type: string }
        campaign_name: { type: string }
        form_name: { type: string }
        platform: { type: string }
        custom_fields:
          type: object
          additionalProperties: true
        metadata:
          type: object
          additionalProperties: true
paths:
  /properties/filter/:
    get:
      operationId: listProperties
      summary: List all properties
      description: >-
        Returns filtered property listings. Supports backend currency conversion across
        USD, DOP, MXN, COP, CRC, GTQ and PEN so prices can be queried in any supported currency.
      tags: [Properties]
      security:
        - aetoken: []
      parameters:
        - { name: search, in: query, schema: { type: string } }
        - { name: city, in: query, schema: { type: integer } }
        - { name: city_name, in: query, schema: { type: string } }
        - { name: sector, in: query, schema: { type: integer } }
        - { name: province, in: query, schema: { type: integer } }
        - { name: listing_type, in: query, schema: { type: string } }
        - { name: category, in: query, schema: { type: string } }
        - { name: currency, in: query, schema: { type: string } }
        - { name: rooms, in: query, schema: { type: integer } }
        - { name: bathrooms, in: query, schema: { type: number } }
        - { name: parking, in: query, schema: { type: integer } }
        - { name: area, in: query, schema: { type: number } }
        - { name: agent, in: query, schema: { type: integer } }
        - { name: ordering, in: query, schema: { type: string } }
      responses:
        '200':
          description: A list of properties.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Property' }
        '404': { description: Resource or endpoint not found. }
        '500': { description: Server error during processing. }
  /properties/view/{property_slug}/:
    get:
      operationId: getProperty
      summary: Property detail view
      description: Retrieve the detail view of a property including assigned agent, photo gallery, amenities and more.
      tags: [Properties]
      security:
        - aetoken: []
      parameters:
        - { name: property_slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Property detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PropertyDetail' }
        '404': { description: Resource not found. }
        '500': { description: Server error during processing. }
  /projects/buildings/{project_slug}/:
    get:
      operationId: getBuildings
      summary: Get buildings
      description: Retrieve the buildings inside a real-estate project.
      tags: [Developments]
      parameters:
        - { name: project_slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: A list of buildings.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Building' }
        '404': { description: Resource or endpoint not found. }
        '500': { description: Server processing failure. }
  /properties/public/units/{project_slug}/:
    get:
      operationId: getUnits
      summary: Get units
      description: Retrieve the units of a project by requesting their slug.
      tags: [Developments]
      parameters:
        - { name: project_slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: A list of units.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Unit' }
        '404': { description: Resource or endpoint not found. }
        '500': { description: Server processing failure. }
  /agents/:
    get:
      operationId: listAgents
      summary: List agents
      description: Returns a JSON array containing all active agents in the company.
      tags: [Agents]
      security:
        - aetoken: []
      responses:
        '200':
          description: A list of agents.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Agent' }
        '404': { description: Endpoint does not exist. }
        '500': { description: Server processing error. }
  /cities/:
    get:
      operationId: listCities
      summary: List cities
      description: List cities, optionally filtered by country. Provinces are nested in each city.
      tags: [Locations]
      parameters:
        - { name: country, in: query, schema: { type: integer }, description: Country ID (10 countries supported). }
      responses:
        '200':
          description: A list of cities.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/City' }
  /sectors/:
    get:
      operationId: listSectors
      summary: List sectors
      description: List neighborhood-level sectors within a city.
      tags: [Locations]
      parameters:
        - { name: city, in: query, schema: { type: integer }, description: City ID to filter sectors. }
      responses:
        '200':
          description: A list of sectors.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Sector' }
  /leads/:
    post:
      operationId: createLead
      summary: Create a lead
      description: >-
        Submit a lead directly into an AlterEstate account. Duplicate contacts return 200 with no
        new deal created (custom fields still update the existing contact); new leads return 201.
      tags: [Leads]
      security:
        - tokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LeadRequest' }
      responses:
        '201':
          description: New lead created successfully.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Lead' }
        '200':
          description: Duplicate contact exists; no new deal created. Custom fields updated on existing contact.
        '400': { description: Bad Request (validation errors). }
